[Unit]
Description=Translucent Client
After=network.target

[Service]
Type=simple
User=nixos
Group=nixos
ExecStart=/usr/local/bin/translucent client /home/nixos/translucent/config.toml
Restart=on-failure
RestartSec=5
Environment=RUST_LOG=debug
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

